body{
	background: url(images/bg1.jpg) no-repeat fixed center top 0% / 100% auto;
	min-width: 1000px;
    font-family: Konfuciuz;
    margin: 0;
    padding: 0;
    position: absolute;
}

.button{
	font-family: Konfuciuz;
    font-size: 35px;
    background: rgb(0, 0, 0, 0.65);
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
    width: 251px;
    height: 60px;
	border: none;
	z-index: 10;
    
}

.button:hover{
	transition: 1s;
	background: rgb(0, 0, 0, 0.85);
}

.button:not(:hover){
	transition: 1s;
}

.top_menu{
    margin: 0;
    padding: 0;
	text-align: center;
	z-index: 10;
}

ul{
    padding: 0;
    display: none;
    margin: 0;
	list-style-type: none;
}

.float_left{
    float: left;
}

.sel_li{
    margin-top: 0;
}
	
#selector:hover + ul{
    display: block;
}

ul:hover{
    display: block;
}

.padding_left{
	padding-left: 15px;
}

.timer{
	margin: 0;
	background: rgb(0, 0, 0, 0);
	width: 170px;
	cursor: default;
}

.timer:hover{
	background: rgb(0, 0, 0, 0);
}

.timer_head{
	cursor: default;
}

.timer_head:hover{
	background: rgb(0, 0, 0, 0.65);
}

.card_img, .card_front, .card_back{
	height: 200px;
	width: 134px;	
	float: left;
}

.card_img{
	margin-right: 30px;
	margin-bottom: 10px;
}

.card_back, .card_front{
	position: absolute;
	backface-visibility: hidden;
}

.card_front{
	transform: rotateY(180deg);
  	background-color: #6589F9;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
}

.first_back, .second_back{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.first_back{
	background-image: url(images/Back1.jpg);
}

.second_back{
	background-image: url(images/Back2.jpg);
}

.work_space{
	width: 100%;
}

.work_divs24{
	position: absolute;
	width: 1000px;
	margin-top: 100px;
	margin-left: 490px;
	margin-right: 200px;
	z-index: 5;
}

.work_divs16{
	position: absolute;
	width: 800px;
	margin-top: 100px;
	margin-left: 650px;
	margin-right: 200px;
	z-index: 5;
}

.work_divs20{
	position: absolute;
	width: 900px;
	margin-top: 100px;
	margin-left: 565px;
	margin-right: 200px;
	z-index: 5;
}

.selected_card{
  transform: rotateY(180deg);
}

.match{
 opacity: 0;
}

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}
